## Cleaning data
Sources: [quandl](https://www.quandl.com/data/FMAC) and [wikipedia](https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States)

In [1]:
import quandl
import pandas as pd


api_key = open('quandlapikey.txt','r').read()

# pulling an example from FMAC database and all tables from Wikipedia
df = quandl.get('FMAC/HPI_AK', authtoken=api_key)
states = pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States')

# for abbv in states[0][1][2:]:
#     print('FMAC/HPI_' + str(abbv))

## Concatenating dataframes 
Tutorial by __@sentdex__

In [2]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

### Findings on the above sets
* dataframe 1 and 3 have the same index, but different columns
* dataframe 2 and 3 have different indexes and different columns
* dataframe 1 abd 2 have same columns, but different index

In [3]:
# continuation of the index
concat12 = pd.concat([df1, df2])

# a bunch of NaNs
concat123 = pd.concat([df1, df2, df3]) 

# inefficient and isn't good practice
append12 = df1.append(df2)

# appending series to dataframe (goes to the last row)
s = pd.Series([80, 2, 50], index=['HPI', 'Int_rate', 'US_GDP_Thousands'])
append1s = df1.append(s, ignore_index=True)

## Joining and merging dataframes

In [4]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

### Merging
Ignores the notion of index.

---


* `pd.merge(df1, df2, on='Year', how='left')` 

Used to merge by the left database's (df1) Year values.

* `pd.merge(df1, df2, on='Year', how='right')` 

Used to merge by the right database's (df2) Year values.

---

* `pd.merge(df1, df2, on='Year', how='outer')` 

Used to merge by both of the database Year values, i.e. a Union of the key (even if there are going to be NaN values created).

* `pd.merge(df1, df2, on='Year', how='inner')` 

_(Default)_ Used to merge by both of the database Year values if all of the fields have the same objects, i.e. an Intersection (usually no NaNs are created, unless a NaN was in an unmerged database.

In [5]:
pd.merge(df1,df2, on=['HPI', 'Int_rate'])

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

### Joining
Only type of concatination where index is honored.

In [6]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
joined

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9