## Manual entry and manipulation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

website_stats = {
    'Day': [1, 2, 3, 4, 5, 6],
    'Visitors': [42, 23, 64, 72, 55, 49],
    'Bounce_Rate': [64, 50, 101, 99, 78, 66]
}

df = pd.DataFrame(website_stats) # create dataframe from dict
df.set_index('Day', inplace=True) # instead of df = df.set_index('Day)

## Displaying data

### Printing out specific sections

In [2]:
df.head() # or .tail() for peeking data

     Bounce_Rate  Visitors
Day
1             64        42
2             50        23
3            101        64
4             99        72
5             78        55

In [3]:
df.Visitors # or df['Visitors'] for a single column

Day
1    42
2    23
3    64
4    72
5    55
6    49
Name: Visitors, dtype: int64

In [4]:
df[['Visitors', 'Bounce_Rate']] # for multiple colums

     Visitors  Bounce_Rate
Day
1          42           64
2          23           50
3          64          101
4          72           99
5          55           78
6          49           66

### Turning data to lists
* Without `numpy`
* With `numpy`

In [5]:
df.Visitors.tolist()

[42, 23, 64, 72, 55, 49]

In [7]:
print(np.array(df[['Bounce_Rate', 'Visitors']])) # works with numpy only

[[ 64  42]
 [ 50  23]
 [101  64]
 [ 99  72]
 [ 78  55]
 [ 66  49]]